# Ignore node_modules - dependencies will be installed in the Docker image
node_modules

# Ignore logs
*.log

# Ignore dotenv files containing secrets
.env

# Ignore Dockerfile and .dockerignore file itself
Dockerfile
.dockerignore

# Ignore git repository files
.git
.gitignore

# Ignore npm debug files
npm-debug.log

# Ignore editor directories and files
.vscode/
.idea/
*.swp

# Ignore tests and documentation
tests/
docs/
*.md

# Ignore OS-specific files
.DS_Store
Thumbs.db
